@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-image: url("https://gitlab.com/Rostomi/tip-calculator/-/raw/master/images/waiter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

h1 {
  margin: 50px;
  font-weight: 800;
}

#counter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input{
    width: 100%;
    max-width: 400px;
    padding: 20px 30px 20px 30px;
    margin: 20px 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    color: rgba(20, 20, 20, 0.8);
    font-weight: 800;
}

input::placeholder{
  font-size: 25px;
}

button{
  font-size: 30px;
  outline: none;
  border: none;
  padding: 10px 50px;
  border-radius: 20px;
  background-color: rgba(255, 196, 0, 0.65);
}

p{
  background-color: rgba(79, 98, 133, 0.8);
  color: white;
  font-size: 35px;
  margin: 30px;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 10px;
}
